# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

:80 {
	respond /robots.txt 200 {
		body "User-agent: *
Disallow: /"
	}

	respond "Go away" 404
}

# feeder-sync.nononsenseapps.com
dev.nononsenseapps.com {
	reverse_proxy /api/* localhost:34217
	root * /var/www/feeder-sync.nononsenseapps.com
	file_server
	log {
	}
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
